:root {
    --background-color: lightblue;
    --main-background-color: lightgray;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
header {
    background-color: var(--background-color);
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu {
    flex-direction: row;
    align-items: center;
}
.hidden {
    display: none;
}
.menu-btn {
    all: unset;
    cursor: pointer;
}
.menu-btn h1{
    padding: 0;
    margin: 0;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    gap: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.menu ul a {
    text-decoration: underline;
}
main {
    background-color: var(--main-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container img {
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    margin: 10px;

    object-fit: cover;
    /* max-width: 200px; */
    max-width: 80%;
    height: auto;
}
/* Modal ?(?) */
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}



footer {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and (min-width: 700px) {
    .image-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 1000px) {
    .menu-btn {
        display: none;
    }
    .menu {
        display: flex;
    }
    .menu ul {
        flex-direction: row;
        margin-left: 10px;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}